<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Houve uma mudança no seu status</h1>
    <p>Seu status atual é: @status</p>
  </body>
</html>
